<article class="doc-showcase">
  <header class="doc-showcase__intro">
    <p class="doc-showcase__label">{{ 'documentIntelligence.showcase.label' | translate }}</p>
    <h2 class="doc-showcase__title">{{ 'documentIntelligence.showcase.title' | translate }}</h2>
    <p class="doc-showcase__subtitle">{{ 'documentIntelligence.showcase.subtitle' | translate }}</p>
    <p class="doc-showcase__description">{{ 'documentIntelligence.showcase.description' | translate }}</p>
  </header>

  <div class="doc-showcase__demo">
    <app-document-intelligence-shell />
  </div>
</article>
